# git 仓库会自动根据提交的文件判断仓库的语言，但有时不太准确
# 可以按下面的方式自定义修改
*.js linguist-language=JavaScript
*.css linguist-language=JavaScript
*.html linguist-language=JavaScript
*.vue linguist-language=JavaScript
*.md linguist-language=JavaScript