@require './palette.styl';

html, body {
  background-color: $bgColor;
}

.navbar {
  background-color: $bgColor;

  .links {
    background-color: $bgColor;
  }
}

.sidebar {
  width $sidebarWidth
  background-color: $bgColor;
}

.page
  padding-left $sidebarWidth


@media (min-width: ($MQMobile + 1px))
  .theme-container.no-sidebar
    .sidebar
      display none

    .page
      padding-left 0

@require 'mobile.styl'