@require './palette.styl';

html, body {
  background-color: $bgColor;
}

.navbar {
  background-color: $bgColor;

  .links {
    background-color: $bgColor;
  }
}

.sidebar {
  background-color: $bgColor;
}
